<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>商密改造作战大屏 <%- process.env.NODE_ENV === 'development'? '<开发模式>': '' %></title>
</head>
<body>
	<input type="hidden" id="api" value="<%= api %>">
  <input type="hidden" id="data" value="<%= data %>">
	<input type="hidden" id="staticData" value="<%= staticData %>">
  <h1 hidden>浮夸的控制台主页</h1>
  <nav class="uk-navbar-container uk-container uk-container-expand" uk-navbar>
    <div class="uk-navbar-left">
          <div>
              <ul class="uk-navbar-nav">
                  <li><a id="mdate">日历显示位置</a></li>
                  <li><a id="mtime">时钟显示位置</a></li>
              </ul>
          </div>
        </div>
      <div class="uk-navbar-center">
          <span class="uk-navbar-item uk-logo">德付通logo位置</span>
      </div>
      <div class="uk-navbar-right">
        <div>
            <ul class="uk-navbar-nav">
                <li><a>北京亚科技术开发有限责任公司</a></li>
                <% if (process.env.NODE_ENV === 'development') { %>
                <li><a href="<%= api %>" target="_blank">访问数据</a></li>
                <% } %>
            </ul>
        </div>
      </div>
  </nav>
  <main class="uk-flex">
    <section class="uk-width-1-4">
            <p class="uk-heading-bullet uk-margin-top">改造进度</p>
            <canvas id="cli2sys" class="uk-background-muted">
              <h2>客户端与系统之间canvas位置</h2>
            </canvas>
            <canvas id="sys2sys" class="uk-background-muted">
              <h2>系统之间canvas位置</h2>
            </canvas>
            <canvas id="common" class="uk-background-muted">
              <h2>通用canvas位置</h2>
            </canvas>
        </section>
    <div class="uk-width-1-2">
      <div class="uk-flex uk-flex-center uk-child-width-1-3 uk-card-default">
        <div><canvas id="recharge" class="uk-background-default">
          <h2>充值canvas位置</h2>
        </canvas></div>
        <div><canvas id="account" class="uk-background-default">
          <h2>账户支付canvas位置</h2>
        </canvas></div>
      </div>
      <div class="uk-flex uk-flex-center uk-child-width-1-3 uk-card-default">
        <div><canvas id="distill" class="uk-background-muted">
          <h2>提现canvas位置</h2>
        </canvas></div>
        <div><canvas id="withoutaccount" class="uk-background-muted">
          <h2>无账户支付canvas位置</h2>
        </canvas></div>
        <div><canvas id="transfer" class="uk-background-muted">
          <h2>转账canvas位置</h2>
        </canvas></div>
      </div>
      <div class="uk-card uk-card-default uk-overflow-auto">
        <div id="percentageStyleTrigger">
          <canvas id="percentage">
            <h2>占比进度canvas位置</h2>
          </canvas>
        </div>
      </div>
    </div>
    <section class="uk-width-1-4">
      <div class="uk-card uk-card-default uk-card-body">
        <p class="uk-heading-bullet">交易统计</p>
        <table class="uk-table uk-table-divider uk-table-hover uk-table-small">
          <caption id="rdate"></caption>
          <tbody class="uk-text-meta">
            <tr><td>充值</td><td id="rrecharge"></td></tr>
            <tr><td>提现</td><td id="rdistill"></td></tr>
            <tr><td>账户支付</td><td id="raccount"></td></tr>
            <tr><td>无账户支付</td><td id="rwithoutaccount"></td></tr>
            <tr><td>转账</td><td id="rtransfer"></td></tr>
          </tbody>
        </table>
      </div>
      <div class="uk-card uk-card-default uk-card-body uk-margin-top">
        <p class="uk-heading-bullet">作战指挥部</p>
        <p class="uk-text-meta" id="broadcast"></p>
      </div>
    </section>
  </main>
  <footer class="uk-container uk-container-expand uk-background-secondary">
    <p class="uk-text-meta uk-text-center uk-padding-small">2023/2/6 商密改造作战大屏 v-1.2.1</p>
  </footer>
</body>
</html>